body
{
     font-family: Arial, Helvetica, sans-serif;
     background: #2a0c5a;
     background: linear-gradient(120deg, #2A0C5A, #7A2C87, #E04A64); color: white;
}
/* Remove linha dos links e deixa todos brancos */
/* Classe genérica para links brancos sem sublinhado */
.link-clean
{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}


/* Hover elegante */
.link-clean:hover
{
    opacity: 0.8;
}